



<button class="delete" name="delete" type="submit">Delete</button>

<button class="admin" name="admin-toggle" type="submit">Change Admin Status</button>



<%= form_for(@user) do |f| %> 
<%= f.radio_button :name %>