<div class="main">
  <section id="1">
    <div class="sect_one"></div>
  </section>
  <section id="2">
    <div class="sect_two"></div>
  </section>
  <section id="3">
    <div class="sect_three"></div>
  </section>
</div>