

<div class="main">
  <section id="1">
    <div class="sect_one"></div>
  </section>
  <section id="2">
    <div class="sect_two"></div>
  </section>
  <section id="3">
    <div class="sect_three">
      <%if logged_in? %>
      <% for gif in @user.gifs %>
      <img src="<%= gif.url %>">
      <%end%>
      <% end %>
    </div>
  </section>
</div>