<div class="main">
  <section id="1">
  </section>
  <section id="2">
    <form>
      <input type="text" name="keyword" />
      <input name="Submit" type="submit" value="Submit" />
    </form>
    <div class="sect_two"></div>
  </section>
  <section id="3">
    <div class="sect_three"></div>
  </section>
</div>