
div.adminMain ul{
  max-width: 40%;
  border-width: 10px;
  border-color: black;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

div.adminButtons{
	margin: 0 auto;
  max-width: 20%;
  border-radius: 5px;
  padding: 5px;

}