body{
  background-color: #fefefe;
}
div.header{
  background-color: white;
  width:90%;
  height:180px;
  margin-left:20px;
  padding:10px;
  border: 1px red solid;
}
h1.def{
  float:left; 
  font-family: 'Share Tech Mono', sans-serif;
  font-size:100px; 
  color:black;
}
img.bomb{
  float:left;
  clear:right;
  width:225px;
  height: 175px;
}
div.sect_one{
  width:90%; 
  height: 100%; 
  margin-top: 1%;
  margin-left: 5%;
  margin-right:5%;
}
div.sect_three{
  width:60%; 
  height: 100%; 
  margin:14% auto;
}
span.defined{
  float:left;
  font-family: 'Share Tech Mono', sans-serif;
  font-size:30px; 
  color:black;
}
section{
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}
.gifs{
  clear:right;
  float:left;
  margin-left:10px;
  margin-top: 10px;
  border-radius: 20%;
  border:1px solid white;
  width:200px;
  height:200px;
  box-shadow: 2px 2px 1px #888888;
}
.gifSingle{
  margin:10px;
  border-radius: 20%;
  border:1px dashed white;
  width:270px;
  height:270px;
}
form.search{
}
.keyword{
  font-size:25px;
  font-family:helvetica;
  height: 30px;
  width: 500px;
  margin-right:165px;
  text-align:center;
  border:none;
}
.keyword:hover{
  -moz-box-shadow: 0 0 10px #9ecaed;
  -webkit-box-shadow: 0 0 10px #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.keyword:focus{
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.givs{

}
